<div class="profile-sidebar bg-white shadow-sm rounded p-3">
    <ul class="menu">
      <li><a routerLink="/account/profile" routerLinkActive="active">Profile Information</a></li>
      <li><a routerLink="/account/address" routerLinkActive="active">Manage Addresses</a></li>
      <li><a routerLink="/account/orders" routerLinkActive="active">My Orders</a></li>
      <li><a routerLink="/account/payments" routerLinkActive="active">Payments</a></li>
      <li><a routerLink="/wishList" routerLinkActive="active">My Wishlist</a></li>
      <li><a routerLink="/account/logout" (click)="logout()">Logout</a></li>
    </ul>
  </div>
