/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

*{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    }

  html, body, div, p, h1, h2, h3, h4, h5, h6, a {
    font-family: 'Roboto', sans-serif;
  }
  .bg-color{
    background-color: #8080800d;
  }